/* Add your CSS styles here */
body {
    font-family: "Roboto", Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


h1 {
    font-size: 3.5em;
    font-weight: 800;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    font-weight: 600;
}

p {
    font-weight: 300;
    line-height: 1.5em;
}

a {
    font-weight: 400;
    color: black;
}

.emphasized {
    color: orangered;
}

.section-top {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    min-height: 400px;
    ;
}

.section-main {
    margin: 0 0 100px 0;
    width: 100%;
    padding: 0px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: left;
    align-content: flex-start;
}

.wide-block {
    max-width: 650px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.block {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    box-sizing: border-box;
}

/* Image fills the block and is cropped to a square */
.block img.full-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Label overlay on images */
.image-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.image-wrap .square-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background: white;
    color: black;
    padding: 8px 10px;
    font-weight: 600;
    font-size: 0.9rem;
    pointer-events: none;
    text-transform: uppercase;
}

.bordered {
    border: 10px solid black;
}

.row {
    border-bottom: 1px solid black;
    padding: 10px 10px;
    min-height: 50px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.row:last-child {
    border-bottom: none;
    justify-content: flex-end;
}

.left-text {
    margin: 0;
    text-align: left;
    align-self: flex-end;
}

.right-text {
    margin: 0;
    text-align: right;
    align-self: flex-end;
    line-height: 1;
    display: inline-block;
    margin-bottom: -0.1em;
}

.name-below {
    margin: 0 20px;
    text-align: right;
}

.logo-icon {
    max-width: 120px;
    height: 40px;
    object-fit: contain;
    margin-right: 10px;
}